name: cakes CI

on:
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install poetry
        run: pip install poetry

      - name: Install python dependencies
        run: poetry install

      - name: Run black
        run: poetry run black . --check

      - name: Run pytest
        run: poetry run pytest
